@import url(https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.16.34/css/grapes.min.css);

body {
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}